body{
    background-color:rgba(4, 183, 123, 0.834);
    background-size: cover;
}
.login{
    background-color: white;
    margin:200px auto;
    padding: 10px 20px 30px;
    margin-left: 30%;
    margin-right: 30%;
    
    
}
h2{text-align: center;}

.input{
    width: 100%;
    
    border: 1px solid black;
    
    padding-top: 20px;
    
    
    margin: 5px 0px 15px;}


.radio{
    text-align: left;
}
button{
    padding:10px 10px;
    margin: 5px 0px 15px;
    box-shadow: 2px;
    text-align: center;
    background-color: rgb(1, 75, 50);
    color: white;
    border-radius: 5px;
}
